body {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    padding-bottom: 10rem;
   
}

#nambarUtama {
    margin-top: 0;
    padding-bottom: 0rem;
}

#navbarNav {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    padding-right: 0.1rem;
    
}

.nav-item {
    padding-right: 3.2rem;
}

#cardMain {
    margin-left: 10rem;
    margin-top: 6rem;
    margin-right: 2rem;
    padding-right: 5rem;
}

#cardSecondary {
    margin-left: 20rem;
    margin-top: 3rem;
    margin-right: 10rem;
    padding-right: 2.5rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

#cardLp {
    padding-left: 2.5rem;
    padding-top: 4rem;
    font-size: large;
}

.btn {
    margin-top: 2rem;
}

.cont {
    max-width: 100%;
    display: flex;
}

.formMain{
    padding-bottom: 3rem;
}